experiment/3_products/output
experiment/3_products/output_01
experiment/3_products/output_02
experiment/3_products/output_03
experiment/3_products/output_04
experiment/3_products/output_05
experiment/3_products/output_06
experiment/3_products/output_07
experiment/3_products/output_08
experiment/3_products/output_09
experiment/3_products/output_10

.venv/
.log
.DS_Store
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Database Configuration ###
mysql-config.json
mysql-connection.conf
*.pem