ktor:
    application:
        modules:
            - com.discovery.ApplicationKt.module
    deployment:
        port: 8080

database:
    url: "jdbc:mysql://localhost:3306/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    username: "hoaidv"
    password: "pipipipi"
    pool:
        minimumIdle: 50
        maximumPoolSize: 100
        connectionTimeout: 30000
        idleTimeout: 600000