ktor:
    application:
        modules:
            - com.discovery.ApplicationKt.module
    deployment:
        port: 8080

database:
    jdbcUrl: "jdbc:mysql://localhost:3306/ecommerce?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    username: "hoaidv"
    password: "pipipipi"
    maximumPoolSize: 100
    minimumIdle: 50
    connectionTimeout: 30000
    idleTimeout: 600000
    maxLifetime: 1800000
